@import "mixins";


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

}

#wrapper {
  height: 100%;
}

section {
  height: 90%;

  &#first {
    background-color: #b7b7b7;
  }

  &#second {
    background-color: #67b75f;
  }

  &#third {
    background-color: #6884b7;
  }
}

#myCanvas {
  @include position(fixed, 0 0 0 0);
}